<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seller</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/myprofile">My Profile</a>
            </li>
            <li>
                <a href="/all-items">All Items</a>
            </li>
            <li>
                <a href="/all-sellers">All Sellers</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        </ul>
    </nav>
    <hr>
    <h2>Informacije o prodavcu</h2>
    Korisnik: {{ user.username }} </br>
    Ime: {{ user.name }} <br>
    Prezime: {{ user.last_name }} <br>
    Tip: {{ user.type }} <br>
    Kompanija: {{ user.company }} <br>
    <br>
    <hr>
    {% if items %}
		<ol>
		{% for item in items %}
			<li>  <a href= "/item/{{item['_id']}}">{{item['name']}} </a>  </li>
		{% endfor %}
		</ol>
	{% endif %}
</body>

</html>